@import '~antd/dist/antd.css';
@import '../styles/common.scss';
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
p{
  margin-top: 0;
  margin-bottom: 0.2em;
}
.banner{
  position: relative;
  overflow: hidden;
  .maple{
    position: absolute;
  }
}
.head-title{
  border-left: 12px solid $blue;
  padding:rem(20);
  font-size:20px;
  font-weight: bold;
  box-shadow: rem(-2) rem(2) rem(10) #666;
  margin-bottom: rem(24);
}
.content-container{
  border: 1px solid #eee;
  padding: rem(20);
}
dt{
  margin-bottom: rem(16);
}
dd::before{
  content:'●';
  padding-right:rem(10); 
}
.split-line {
  border-bottom: 1px dashed #ddd;
  margin: rem(40) 0;
}
.session-head{
  font-weight: bold;
  margin-bottom: rem(16);
  font-size: 18px;
}
.NoteTip{
  color: $orange;
  margin: rem(20) 0;
  font-size: 14px;
}
.CodeSession {
  width: 100%;
  margin: rem(15) 0 rem(15);
  padding: rem(20);
  border: 0;
  border: 1px dotted $green;
  background: $grey;
  line-height: 1.4;
  font-family: Consolas;
  .Indent{
     margin-left: rem(20);
     @extend p;
  }
}
.imgWrap{
  margin: rem(20) 0;
}
.ant-layout-sider-zero-width-trigger{
    top: 100px;
    right: -24px;
    width: 24px;
    height: 38px;
    line-height: 38px;
    background: #1890ff;
}